.header {
	text-align: center;
	font-family: 'Arial', 'Courier New';
	vertical-align: middle;
	color: white;
	background: none repeat scroll 0 0 #222;
	position: relative;
	padding: 40px 0 0 0;
	margin: 0;
	overflow: hidden;
	outline: 0 none;
	border: 0 none;
}

.title-text {
	vertical-align: middle;
	font-weight: bold;
	font-size: 50px;
}

.special-button {
    background-color: white;
    border-radius: 0;
	 border-left-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    font-family: courier;
    font-weight: bold;
}