/*Necessary to eliminate the white border surrounding the body tag
	and to establish a pale grey background.*/
body {
	margin: 0px;
	font-family: 'Arial', 'Courier New';
	background-color: #DDD;
}

/*Not exactly mobile friendly at the moment, but accomplishes the job in all tested browsers.*/
.header {
	text-align: left;
	width: 100%;
	color: #EEE;
	background: none repeat scroll 0 0 #222;
	position: fixed;
	margin: 0;
	top: 0px;
	left: 0px;
}

/*Defines the attribution footer styling, fixing it to the bottom of the screen.
	Not quite mobile friendly at the moment, but that will be resolved in time.*/
.footer {
	width: 100%;
	background-color: #DDD;
	text-align: right;
	position: fixed;
	bottom: 0px;
}

/*Centers the title or header for any dynamically generated content.*/
.content-header {
	text-align: center;
}

/*Use the fixed positioning with the explicitly set top and bottom parameters to keep
	all dynamic content contained between header and footer.*/
.dynamic-body-container {
	overflow: auto;
	position: fixed;
	width: 100%;
	top: 105px;
	bottom: 20px;
}

/*Pads the content of the blog and 'about me'/'code' sections to give the text and content
	more appealing margins*/
div#dynamicBody {
	padding-left: 30px;
	padding-right: 30px;
}

/*The website title text.*/
.title-text {
	vertical-align: bottom;
	font-weight: bold;
	font-size: 30px;
}

/*Remains to be made functional. Attempting to build a rudimentary tab bar.*/
.tab-container {
	background-color: #222;
	position: fixed;
	width: 100%;
	top: 70px;
}

/*Style the buttons to flatten them and color them to match the background of the content
	over which they will be hovering, giving the appearance of tabs.*/
.tab-button {
	background-color: #DDD;
	border-radius: 0;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	font-family: courier;
	font-weight: bold;
	margin-left: 5px;
	float: right;
}

.navigation-container {
	background-color: #DDD;
	position: fixed;
	width: 100%;
	top: 85px;
	text-align: center;
}

/*Style the buttons to flatten them and color them to match the background of the content
	over which they will be hovering, giving the appearance of tabs.*/
.nav-button {
	color: #222;
	background-color: #DDD;
	width: 65px;
	border-radius: 0;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	font-family: courier;
	font-weight: bold;
	width: 85px;
	margin-left: 15px;
}

/*Anticipating inserts of at least some code snippets, this will be used to style the code
	distinctly enough to make it instantly recognizable on the page.*/
.code-snippet {
	font-family: 'Courier New';
	color: #332;
}
